<h1><i class="fa fa-life-ring" aria-hidden="true"></i> OBJECTIVE</h1>
<p>
    I am a Senior project Engineer. 
    .I started my carrier in wipro with designetion  student computer application 
    and I completed the work integrated lerning program form wipro 
    and now i am  post graduate in Software Engineering. 


</p>
<p>
    I am a self-motivated and self-taught professional who is a
     Dedicated and eﬃcient web application developer with total of 6+ years experience in IT.
     Excited to work as a MEAN /MERN stack developer.
</p>
