<h1><i class="fa fa-university" aria-hidden="true"></i> EDUCATION DETAILS </h1>
<section>
    <strong> 10 th</strong>
    <div class="eduDet">
        <div>Board : kerala board of public examination</div>
        <div>School: S.N.H.S.S N.PARAVUR </div>
        <div>Year :2009-2010 <label class="lsp">Mark: 78%</label></div>
    </div>
</section>
<section>
    <strong> 12 th</strong>
    <div class="eduDet">
        <label>Board : kerala board of public examination</label>
        <div>School : S.N.V.Skt.H.S.S N.PARAVUR</div>
        <div>Year : 2010-2012 <label class="lsp">Mark : 85%</label></div>        
    </div>
</section>
<section>
    <strong> Graduation</strong>
    <div class="eduDet">
        <label>Univercity : Mahathma Gandhi Univercity</label>
        <div>College : UC college Aluva</div>
        <div>BSc Computer Science</div>
        <div>2012-2015 <label class="lsp">Mark : 65%</label> <label class="lsp">CGPA: 2.65</label></div>         
    </div>
</section>
<section>
    <strong>Post Graduation</strong>
    <div class="eduDet">
        <label>Univercity : BITS Pilani</label>
        <div>College :Wipro work integrated learning program</div>
        <div>Mtech Software Engineering</div>
        <div>Year : 2015-2019 <label class="lsp">Mark : 70%</label> <label class="lsp">CGPA: 7</label></div>    
        
    </div>
</section>