    
<section>
    <h1><strong>SMRUTHUL P S</strong> </h1>
    <label>Senior Project Engineer</label>
</section>
<section class="imgsec">
    <img src="../../../assets/SMIRTHUEL.jpg" alt="">
</section>
<section class="contactinfo">
    <div><i class="fa fa-envelope-o" aria-hidden="true"></i> smruthulpsabu@gmail.com</div>
    <div><i class="fa fa-phone" aria-hidden="true"></i> 9544354062 or 8921451170</div>
    <div><i class="fa fa-map-marker" aria-hidden="true"></i> Banglore India</div>
    
</section>