<h1><i class="fa fa-briefcase" aria-hidden="true"></i>
     WORK EXPERIENCE</h1>
<section>
    
    <div class="company"><div >Senior Project Engineer</div><div>Wipro </div><div>2019-<span style="font-style: italic;">tilldate</span></div></div>

    <section>
        <section>
            <section>
                <strong>ITC DXP</strong>
                <label class="lsp">Banglore</label>
                <label class="lsp">developer L2</label>
                <section>
                   
                    <p>
                        Working in both backend and frontend, Responsibilities integration of APIs, Collaborated with the team on implementing new features, writing reusable codes, and leading a team. </p>
                  <p>
                tech stack - angular 10, node.js, HTML, CSS,Javascript, Typescript, Mongo DB, Elastic Search. BELK stack, Google analytics, user forum(nodeBB)
               </p>
                    </section>
            </section>
            <section>
                <strong>CTO 5G</strong>
                <label class="lsp">Banglore</label>
                <label class="lsp">developer L2</label>
                <section>
                   
                    <p>The CTO 5G Project is to leverage the 5G technologies. The team is consists of 5 members.

                    
                        Responsibilities are to create user stories, feasibility studies, design, development, and deployment.
                    </p>
                    <p>
                        Tech stack-  Angular 9, Android, JavaScript,Node.js, Mongo DB, D3.js, artyom.js, and clarifai
                    </p>
                </section>
            </section>
        </section>
    </section>
</section>
<section>
    <div class="company"><div >Student Computer Application</div><div>Wipro </div><div>2015-2019</div></div>
    <section>
        <section>
           
        <section>
            <strong>LATAM – Airline Project</strong>
            <label class="lsp">Kochi</label>
            <label class="lsp">developer L1</label>
            <section>
               
                <p> The project is consists of 100+ members. I have worked in a team of 10 members Frontend team. In a team, we have to manage modules. 
                    Responsibilities are to Understand the problem, design a solution, develop/modify, and Unit test the application.
                    in the project, I was working as a UI developer of tech stack JQuery, JavaScript, HTML5, CSS and JQGrid</p>
                    <p>Domain knowledge  IATA, Roaster, Fleet, and commodity</p>
            </section>
        </section>
        <section>
            <strong>Qatar Airways – Airline Project</strong>
            <label class="lsp">Kochi</label>
            <label class="lsp">developer L1</label>
            <section>
               
                <p>The project is consists of 100+ members. I have worked in a team of 10 members team. In a team, we have to manage modules. in the project, I was working as a UI developer of tech stack JQuery, JavaScript, HTML5, CSS and JQGrid</p>
                <p>Domain knowledge  IATA, Roaster, and Fleet</p>
            </section>
        </section>
        <section>
            <strong>Invest Atlas</strong>
            <label class="lsp">banglore</label>
            <label class="lsp">developer L1</label>
            <section>
               
                <p>The role is to develop, test, deployment of Java J2EE project, the team was a 4 member team. as part of the project I was worked in the CICD lab with tools sonarqube , jenkins
                </p>
            </section>
        </section>
    </section>
</section>